/* Broad Settings */

* {
    font-family: sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.dark{
    background-color: #1F2937;
}

.grey {
    background-color: #E5E7EB;
}

.skyblue {
    background-color: #3882F6;
}

.white {
    background-color: white;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 36px;
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.37);
}

/* Layout */

html {
    height: 210vh; /*Stretch to 100% of the viewport height */
}

body {
    margin: 0; /* Remove default margin */
    height: 100%; /* 170% of viewport height */
}

#landing {
    height: 100%; /*Stretch to 100% of the viewport height */
}

#landing > * {
    padding: 0 12vw;
}

#top, 
#middle-one, 
#middle-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Top area */

#top{
    flex: 8 auto;
}

/* Header */

header{
    flex: 1 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

header .logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

header nav{
    display: flex;
    align-items: center;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1em;
}

header a{
    color: white;
    text-decoration: none;
}

/* Hero Section */

.hero {
    margin: auto 0;
    color: white;
    padding: 2em 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero > .row {
    gap: 1em;
}

.hero .column {
    flex: 1;
    align-items: flex-start;
    text-align: left;
    gap: 0.5em;
}

.hero .image-placeholder {
    flex: 1;
}

/* Info Area */

#middle-one{
    flex: 8 auto;
}

.info {
    justify-content: flex-start;
    padding: 0 8vw;
    padding-bottom: 12vh;
}

.center {
    display: grid;
    align-items: center;
    text-align: center;
}

.info .center{
    flex: 1;
}

.info .gallery {
    flex: 3;
}

.gallery {
    justify-content: space-between;
    gap: 2vw;
}

.gallery p {
    padding: 0 2px;
    text-align: center;
}

.square-image{
    aspect-ratio: 1 / 1;
    width: 95%;
    border: 3px solid #3882F6;
    border-radius: 2vw;
    margin: auto;
}

/* Quote */

#middle-two{
    flex: 8 auto;
}

#middle-two .quote{
    padding: 8vw 8vw;
}

.quote {
    color: #1F2937;
}

.quote p {
    margin: 0px;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    text-align: left;
}

.quote > .quotee {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

/* Call to Action */

#bottom{
    flex: 8 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#call-to-action{
    border-radius: 8px;
    color: white;
    padding: 3em 5em;
    width: 100%;
}

#call-to-action > .column {
    flex: 7;
}

#call-to-action > button {
    flex: 1;
}

#call-to-action button,
.hero button
{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 8px; 
    padding: 0.5em 2em;
    font-size: 16px;
}

#call-to-action button {
    border: 1px solid white;
}

.hero button {
    border: none;
}

footer {
    flex: 2 2vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div {
    margin: 1em;
}